:root{
  --white: #fff;
  --black: #000;
  --font-color-base: #666;
  --font-color-dark: #212529;
  --font-color-light: #b8aebe;
  --font-color-link: #57A6ff;
  --contrast: var(--font-color-light);
  --footer: #34314b;
  --footer-base: #2e2b45;
  --success: #64ECF5;
  --danger: #FF888D;
  --grad-1: #a1ecff;
  --grad-2: #7dbcff;
}

body{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--font-color-base);
  margin: 0;
  padding: 0;
}

*,
::after,
::before{
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

p{
  margin-top: 0;
  padding: 0;
}

h2{
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

img{
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.container{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn{
  display: inline-block;
  font-weight: 400;
  color: var(--font-color-dark);
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .475rem 1.75rem;
  border-radius: 1.25rem;
  transition: ease-in-out .3s;
}

.btn-white{
  background-color: var(--white);
  color: var(--font-color-link);
  box-shadow: 0 10px 20px rgba(255, 255, 255, .35);
}
@media (min-width: 1200px){
  .container{
    max-width: 1140px;
  }
}