.nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  transition: ease-in-out .3s;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}

[aria-controls="navbarDropdown"]{
  display: none;
}

.nav-bar .container{
  display: flex;
  flex-direction: row;
}

/* .nav{
  background-color: black;
} */

.nav-links{
  display: flex;
  align-items: center;
}

.nav-brand {
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  transition: ease-in-out 0.3s;
  color: var(--white);
}

.nav-link a{
  color: white;
  font-size: .8125rem;
  font-weight: 600;
  font-family: 'Hind';
  text-transform: uppercase;
  margin-right: 2.5rem;
  line-height: 1.25rem;
}

.bg-header,
.video-demo{
  background-color: var(--footer);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  position: relative;
  z-index: 1;
  padding: 4.68rem 0;
}

.bg-header{background-image: url("/assets/images/CodeRad-assets/bg-header-1.jpg");}
.video-demo{background-image: url("/assets/images/CodeRad-assets/bg-demo.jpg");}

.bg-header::before{
  background-image: linear-gradient(
    30deg,
    rgba(21, 27, 38, .8) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

}

.hero-header{
  color: var(--white);
  font-size: 1.75rem;
}
.why-me{
  padding: var(--size-150) 0;
}
.why-me-wrapper{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.why-me-wrapper div{
  flex:1;
  margin: var(--size-18);
}

.block-text{
  padding-right: var(--size-50);
  color: var(--font-color-dark);
  padding-bottom: var(--size-20);
}
.block-text span{
  font-weight: 300;
}
.block-text h2{
  font-size: var(--size-40);
  font-weight: 600;
  font-family: "Hind", sans-serif;
  line-height: 1.2;
  margin-bottom: var(--size-20);
  margin-top: var(--size-10);
}

.btn-primary{
  background-image: linear-gradient(90deg, var(--grad-1) 0%, var(--grad-2) 100%);
  color: white;
  border: 1px solid var(--grad-1);
  box-shadow: 0 10px 20px rgba(161, 236, 255, .5);
  transition: ease-in-out .3s;
  font-weight: 100;
  padding: .4375rem 1.562rem;
}

.btn-primary:hover{
  background-image: none;
  background-color: white;
  color: var(--font-color-link);
  box-shadow: none;
  border: none;
}

.bg-contrast{
  background-color: var(--contrast);
  padding: var(--size-150) 0;
  margin: 0 auto;
}

.service-card{
  padding: var(--size-30);
  box-shadow: 0 0 10px rgb(48 63 100 / 15%);
  background-color: white;
  border-radius: 5px;
}
.service-card span{
  float: left;
  display:block;
  width: 4.37rem;
  height: 4.37rem;
  border-radius: 50%;
  margin-right: 15px;
  background: var(--contrast);
}

span.bg-color-1{background-image: linear-gradient(90deg, #9ccdf3 0%, #94aafd 100%);}
span.bg-color-2{background-image: linear-gradient(90deg, #55edc0 0%, #4bdbdb 100%);}
span.bg-color-3{background-image: linear-gradient(90deg, #fda498 0%, #f58b9e 100%);}
span.bg-color-4{background-image: linear-gradient(90deg, #f2a7ca 0%, #c28914 100%);}
span.bg-color-5{background-image: linear-gradient(90deg, #ffc187 0%, #fe93a7 100%);}
span.bg-color-6{background-image: linear-gradient(90deg, #a1ecff 0%, #7dbcff 100%);}


.service-grid{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: var(--size-20);

}

.services{
  padding: 150px 0;
}
.video-demo{
  text-align: center;
}
.video-demo .block-text{
  padding-right: 0;
}


.video-demo .block-text h2, 
.video-demo .block-text p {
  color: var(--white);
}

.video-box{
  position: relative;
  margin-bottom: -9.375rem;
}

.video-btn img{
  width: var(--size-100);
  height: var(--size-100);
}

.video-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 20px rgba(57, 166, 251, 0.3);
}

.video-box > img{
  max-width: 600px;
  border-radius: 8px;
}

.block-text.pricing-header{
  text-align: center;
  padding-right: 0;
}

.pricing-table{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
  margin: 0 auto;
}
.price-card{
  max-width: 350px;
}

.price-card > h3{
  text-align: center;
  font-size: var(--size-20);
  margin-bottom: 0;
}

span.price{
  color: var(--font-color-link);
  font-size: var(--size-50);
  font-weight: 700;
  margin-bottom: 0;
}

div.billed{
  color: var(--font-color-dark);
  font-size: var(--size-14);
  font-weight: 300;
  text-align: center;
  margin-top: -15px;
}

li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}